APP_PORT=3000

# cấu hình database
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=coinmap

# cấu hình mail
# email phải được bật 2-Step Verification mới có thể gửi mail
# có thể dùng email test ở file readme để test
MAIL_HOST=smtp.gmail.com
MAIL_USER='**********'
MAIL_PASSWORD='**********'

# cấu hình jwt auth
AUTH_JWT_SECRET='********'
AUTH_JWT_EXPIRESIN_TOKEN='3d'

#cấu hình jwt confirm email
CONFIRM_JWT_SECRET='********'
CONFIRM_JWT_EXPIRESIN_TOKEN='15m'

#link api gửi vào mail để xác thực email
URL_CONFIRM_EMAIL=http://localhost:3000/api/auth/confirm-email
